# Files general
# ----------------------------------

*~
*.bak
.Identifier

# Folders
# ----------------------------------
.vscode/

# dd Best bs
# ----------------------------------
dd_best_testfile
dd_obs_testfile